meta:
  version: 3
  flow: Classic
  substituting_steps:
    KLayout.DRC: null
    Checker.KLayoutDRC: null
    
DESIGN_NAME: tinywhisper_riscv
VERILOG_FILES:
- dir::../rtl/constants.sv
# - dir::../rtl/src/chip_top.sv
# - dir::../rtl/src/chip_core.sv
- dir::../rtl/src/tinywhisper_riscv.sv
- dir::../rtl/src/alu.sv
- dir::../rtl/src/lo_gen.v
- dir::../rtl/src/csr.sv
- dir::../rtl/src/memory.sv
- dir::../rtl/src/dsmod.v
- dir::../rtl/src/regs.sv
- dir::../rtl/src/freq_generator.sv
- dir::../rtl/src/spi_master.sv
- dir::../rtl/src/control.sv
- dir::../rtl/src/i2c_master.sv
- dir::../rtl/src/cordic_iterative.v
- dir::../rtl/src/imm_gen.sv
- dir::../rtl/src/uart_tx.v
- dir::../rtl/src/uart_rx.v
- dir::../rtl/src/cordic_slice.v
- dir::../rtl/src/instructioncounter.sv

# Enable plugin for better SystemVerilog support
# USE_SLANG: True

# Slightly smaller file sizes
# PRIMARY_GDSII_STREAMOUT_TOOL: klayout

# Layout / Floorplan Rules
DIE_AREA: [0, 0, 400, 200]
PL_TARGET_DENSITY_PCT: 35
GRT_ALLOW_CONGESTION: true
RUN_MAGIC_DRC: true
RUN_CTS: true
SYNTH_STRATEGY: DELAY 4
MAX_FANOUT_CONSTRAINT: 6
RT_MAX_LAYER: Metal4
FP_PIN_ORDER_CFG: dir::pin_order.cfg
FP_PDN_MULTILAYER: false
FP_SIZING: absolute

# Power / ground nets
VDD_NETS: ["VDD"]
GND_NETS: ["VSS"]
VERILOG_POWER_DEFINE: "USE_POWER_PINS"

# Clock
CLOCK_PORT: clk
CLOCK_NET: clk
CLOCK_PERIOD: 35 # in ns == ~28 MHz

# SDC files
PNR_SDC_FILE: dir::impl.sdc
SIGNOFF_SDC_FILE: dir::signoff.sdc

# Fix setup violations
PL_RESIZER_SETUP_SLACK_MARGIN: 0.25
GRT_RESIZER_SETUP_SLACK_MARGIN: 0.25

# Fix hold violations
GRT_RESIZER_HOLD_SLACK_MARGIN: 0.35
PL_RESIZER_HOLD_SLACK_MARGIN: 0.3
PL_RESIZER_HOLD_MAX_BUFFER_PCT: 100
