#N
clk
rst_n
car_red_light_out
car_yellow_light_out
car_green_light_out

#S
ped_red_light_out
ped_green_light_out
pushed_left_out
pushed_right_out

#E
switch_traffic_light_on_in
ped_request_left_in
ped_request_right_in

#W
DIN_out
CS_out
SCLK_out